# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: Google

# Customizations
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ColumnLimit: 100
TabWidth: 4
UseTab: Never
